 /* CSS Styles */
 body {
    background-color: #121212;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 5px #0f0;
    padding: 20px;
}
.p {
    color: white;
    padding-top: 20px;
    font-size: 14px;
}
h2 {
    border-bottom: 2px solid #0f0;
    display: inline-block;
    text-align: center;
}
form {
    margin-top: 10px;
    background-color: #000;
    padding: 10px;
    border: 1px solid #0f0;
    box-shadow: 0 0 10px #0f0;
    max-width: 100%;
    align-self: center;
    text-align: center;
}
input[type="text"], textarea {
    background-color: white;
    color: black;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
input[type="submit"] {
    background-color: #0f0;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}
input[type="submit"]:hover {
    background-color: #0c0;
}
/* Responsive design adjustments */
@media (max-width: 500px) {
    form {
        padding: 20px;
        max-width: 100%;
    }
    input[type="text"], textarea, input[type="submit"] {
        padding: 15px;
        font-size: 20px;
    }
    input[type="submit"] {
        font-size: 20px;
        padding: 20px;
    }
    h2 {
        font-size: 15px;
    }
    .white-text {
        font-size: 8px;
    }
}
.logo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    max-width: 10%;
    max-height: 90px;
}
.message-content {
    font-size: 28px;
    color: white;
}

/* main.css */
.white-link {
    color: white;
}

.alert-success {
    color: green;
    text-align: center;
    margin-bottom: 20px;
}

.alert-error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}
.white-text {
    color: white;
    font-size: smaller;
}
